@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  min-height: 100vh;
  margin: 0;
  overflow: auto;
  background: linear-gradient(#eee, #ddd);
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  flex-wrap: wrap;
}

header{
  justify-content: center;
  display: block;
  width: 100%;
}

nav{
  --nav-bg:#fff;
  --text-color: #000;
  --a-text-color: #000;
  text-align: center;
  justify-content: center;
  margin: auto;
  max-width: 85%;;
  z-index: 3; 
  padding: 0rem 2rem 0 2rem;
  
article{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  max-width: fit-content;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  background: var(--nav-bg);
  border-radius: 30px;
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.1);

  a{
    display: flex;
    flex-wrap: wrap;
    max-width: 3rem;
    text-decoration: none;
    font-size: 1rem;
    color: var(--a-text-color);
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    justify-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: all 0.3s;
  
    &:hover{
    background-color: #eeecec;
    border-radius: 25px;
    
  }
  
  }

  img{
    text-align: center;
  }
}
  div {
    display: flex;
    gap:2rem;
    justify-content: center;
    text-align: center;
    margin: auto;
    background: var(--nav-bg);
    border-radius: 30px;
    box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.1);
  
    p{
      font-family: "Didact Gothic", sans-serif;
      font-weight: 400;
      font-style: normal;
      display: flex;
      justify-content: center;
      margin: auto;
    }
  
    img{
      width: 1.5rem;
      height: 1.5rem;
    }
  
    span{
      display: flex;
      gap:0;
      justify-content: center;
      text-align: center;
      margin: auto;
    }

    .phone_img{
      width: 2rem;
      height: 2rem;
    }

    h1{
      font-family: "Permanent Marker", cursive;
      font-weight: 400;
      font-style: normal;
      color:var(--text-color);
    }
    a{
      color:var(--a-text-color);
    text-decoration: none;
    font-size: 1.7rem;
    gap: 2rem;
    margin: auto;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: all 0.3s;


    &:hover{
      background-color: #eeecec;
      border-radius: 20px;
      }
    }
  }

    .logo_img{
      width: 4rem;
      height: 6rem;
      gap: 0;
      margin-left: 0;
    }

  .bin{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 30px;
    background-color:eaeaeaf2;
    outline: 1px #fff;
    border: 1px solid #0000;
    border-radius: 1.25rem 1.25rem 1.5rem 1.25rem;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 1.5rem;
    translate: 1rem;
    transition: background 0.33s;
    outline-offset: 1px;
    position: relative;

    &:hover{
      background-color: #d3d3d3f2;
      transition: all 0.5s;
    }
  }
  }


.rolls_div, .sushi_div{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 80%;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.sets_div, .drinks_div{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
}


.rd, .sd, .std, .drd {
  --bg: #fff;
  --title-color: #fff;
  --title-color-hover: #000;
  --text-color: #666;
  --button-color: #b8fbc6;
  --button-color-hover: #aff5bf;
  background: var(--bg);
  border-radius: 2rem;
  padding: 0.5rem;
  width: 20rem;
  /*   aspect-ratio: 2 / 3; */
  height: 20rem;
  max-height: fit-content;
  overflow: clip;
  position: relative;
  font-family: Lato, Montserrat, Helvetica, Arial, sans-serif;
  transition: padding-bottom 0.5s linear;  
  box-shadow: 0.3rem 1rem 1rem rgba(0, 0, 0, 0.1);

  &::before {
    content: "";
    position: absolute;
    width: calc(100% - 1rem);
    height: 30%;
    bottom: 0.5rem;
    left: 0.5rem;
    mask: linear-gradient(#0000, #000f 80%);
    /* backdrop-filter: blur(1rem); */
    border-radius: 0 0 1.5rem 1.5rem;
    will-change: transform;

    
        
  }

  > img {
    max-width: 100%;
    aspect-ratio: 4.5 / 5;
    object-fit: cover;
    object-position: 50% 5%;
    border-radius: 1.5rem;
    display: block;
    transition: object-position 0.3s ease-out;
    /* firefox patch */
    width: 100%;
    height: auto;
    will-change: object-position;

    
  }

  > section {
    margin: 1rem;
    height: calc(33.3333% - 1rem);
    display: flex;
    flex-direction: column;

    .weight {
      color: #f6822a;
    }

    .price {
      font-size: 2rem;
    }
    .grn {
      color: #666;
    }

    h2 {
      margin: 0;
      margin-block-end: 1rem;
      font-size: 1.5rem;
      opacity: 1;
      color: var(--title-color);
      transition: color 0.3s ease-out;
      text-decoration: none;
    }

    p {
      font-size: 0.95rem;
      line-height: 1.3;
      color: var(--text-color);
      opacity: 0;
      margin: 0;
      
      transition: opacity 0.3s ease-out 0.1s;
    }

      > div {
        flex: 1;
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: opacity 0.3s ease-out;      .tag {
        align-self: center;
        color: var(--title-color-hover);
      }

      .button {
        border: 1px solid #0000;
        border-radius: 1.25rem 1.25rem 1.5rem 1.25rem;
        font-size: 1rem;
        padding: 1rem 2rem 1rem 1.5rem;
        translate: 1rem;
        background: var(--button-color);
        transition: background 0.33s;
        outline-offset: 1px;
        position: relative;
        color: var(--title-color-hover);
        /* specific to demo */
        width: auto;
        text-align: right;

        &::before,
        &::after {
          content: "";
          width: 0.85rem;
          height: 0.1rem;
          background: currentcolor;
          position: absolute;
          top: 50%;
          left: 1.33rem;
          border-radius: 1rem;
        }

        &::after {
          rotate: 90deg;
          transition: rotate 0.15s;
        }

        &.following {
          &::after {
            rotate: 0deg;
          }
        }

        &:hover {
          background: var(--button-color-hover);
        }

        &:focus {
          outline: 2px solid #73c986;
        }
      }
    }
  }

  &:hover, &:focus-within {
    padding-bottom:15rem;

    &::before {
      transform: translateY(100%);
    }

    > img {
      aspect-ratio: 1 / 1;
      object-position: 50% 10%;
      transition: object-position 0.2s ease-out;
    }

    > section {
      h2, p {
        margin-block-end: 0.5rem;
        opacity: 1;
      }

      h2 {
        color: var(--title-color-hover);
      }

      > div {
        opacity: 1;
        transition: opacity 0.3s ease-out 0.15s;
      }

    }
  }
}

.banner1{
  display: flex;
  margin: auto;
  margin-bottom: 0;
  border-radius: 23px;
  margin-top: 5rem;
  
}

.banner1_text{
  width: 30rem;
  height: 30rem;
  background-color: white;
  margin: auto;
  margin-right: 0;
  border-radius: 23px 0 0 23px;
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.1);

  h2{
    font-family: "Didact Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    margin-top: 4rem;
    color: #000;
    margin-left: 3rem;
  }

  p{
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #000;
    margin-left: 3rem;
  } 

  #news{
    width: 15rem;
    height: 3rem;
    margin: auto;
    margin-top: 2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #00CC2D;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 3rem;

    &:hover{
      background-color: #00991F;
    }
  }
}


.slider {
    position: relative;
    width:30rem;
    height: 30rem;
    margin: auto;
    margin-left: 0;
    
  }
  
  .slider input[name="switch"] {
    display: none;
  }
  
  .switch {
    position: absolute;
    left: 0;
    bottom: 1rem;
    text-align: center;
    width: 100%;
    z-index: 3;
  }
  
  .switch label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
    border-radius: 50%;
    border: 5px solid #2f363c;
    background-color: #738290;
  }
  
  #btn1:checked~.switch label[for="btn1"] {
    background-color: white;
  }
  
  #btn2:checked~.switch label[for="btn2"] {
    background-color: white;
  }
  
  #btn3:checked~.switch label[for="btn3"] {
    background-color: white;
  }
   #btn4:checked~.switch label[for="btn4"] {
    background-color: white;
  }
  
  .slider-inner {
    overflow: hidden;
    box-shadow: 0.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0 23px 23px 0;
  }
  
  .slides {
    width: 300%;
    transition: all 0.5s;
    display: flex;
    
    
  }
  
  .slides img {
    width: 30rem;
    height: 30rem;
    float: left;
    /* border-radius: 0 23px 23px 0; */
  }
  
  #btn1:checked~slider-inner .slides {
    transform: translate(0);
  }
  
  #btn2:checked~.slider-inner .slides {
    transform: translate(-30rem);
  }
  
  #btn3:checked~.slider-inner .slides {
    transform: translate(-60rem);
  }
  #btn4:checked~.slider-inner .slides {
      transform: translate(-90rem);
    }

.banner2{
  display: flex;
  background-color: white;
  border-radius: 23px;
}

.banner2_text{
  width: 60rem;
  height: 15rem;
  margin: auto;

  h2{
    font-family: "Didact Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    margin-top: 2rem;
    color: #000;
    margin-left: 3rem;
  }

  p{
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #000;
    margin-left: 3rem;
  }
}

footer{
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  padding: 3rem 2rem;
  margin-top: 5rem;
  font-family: "Didact Gothic", sans-serif;
  gap: 2rem;

  img{
    width: 4rem;
    height: 6rem;
  }

  > div {
    display: flex;
    width: 100%;
    gap: 3rem;
    justify-content: space-between;
    margin: auto;

    > div:first-child {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-width: 15rem;

      img {
        width: 3rem;
        height: 3rem;
      }

      h3 {
        margin: 0;
        font-size: 1.5rem;
        color: #000;
      }

      p {
        margin: 0;
        font-size: 0.9rem;
        color: #666;
      }
    }

    > section {
      display: flex;
      gap: 4rem;
      flex: 1;
      flex-wrap: wrap;

      

      > div {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
        flex-wrap: wrap;


        
        p {
          margin: 0;

          span {
            display: block;
            font-weight: 700;
            color: #000;
            margin-bottom: 0.5rem;

            &:not(:first-child) {
              font-weight: 400;
              font-size: 0.95rem;
              color: #666;
            }
          }

          a {
            display: block;
            color: #000;
            text-decoration: none;
            font-size: 0.95rem;
            margin-bottom: 0.3rem;
            transition: color 0.3s;

            &:hover {
              color: #00CC2D;
            }
          }
        }
      }

      > div:nth-child(4) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-width: 12rem;

        > div {
          display: flex;
          gap: 0.5rem;
          align-items: center;

          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }

        > div:last-child {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          h2 {
            margin: 0;
            font-size: 1.5rem;
            color: #000;
          }

          p {
            margin: 0;
            font-size: 0.9rem;
            color: #666;
          }

          a {
            color: #00CC2D;
            text-decoration: none;
            font-size: 0.9rem;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      > div:nth-child(5) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-end;

        h2 {
          margin: 0;
          font-size: 1.5rem;
          color: #000;
        }

        p {
          margin: 0;
          font-size: 0.9rem;
          color: #666;
          text-align: right;
        }

        a {
          color: #00CC2D;
          text-decoration: none;
          font-size: 0.9rem;

          &:hover {
            text-decoration: underline;
          }
        }

        > div {
          display: flex;
          gap: 1rem;
        }

        img {
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
          transition: transform 0.2s ease-out;
          backface-visibility: hidden;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

