@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  min-height: 100vh;
  margin: 0;
  overflow: auto;
  background: linear-gradient(#eee, #ddd);
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  flex-wrap: wrap;
}

header{
  justify-content: center;
  display: block;
  width: 100%;
}

nav{
  --nav-bg:#fff;
  --text-color: #000;
  --a-text-color: #000;
  text-align: center;
  justify-content: center;
  margin: auto;
  max-width: 85%;
  background: var(--nav-bg);
  border-radius: 30px;
  padding: 0rem 2rem 0 2rem;
  
article{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  padding-bottom: 1rem;


  & a{
    display: flex;
    flex-wrap: wrap;
    max-width: 3rem;
    text-decoration: none;
    font-size: 1rem;
    color: var(--a-text-color);
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    justify-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
  
    &:hover{
    background-color: #eeecec;
    border-radius: 25px;
    transition: all 0.3s;
  }
  
  }

  & img{
    text-align: center;
  }
}
  div {
    display: flex;
    gap:2rem;
    justify-content: center;
    text-align: center;
    margin: auto;
  
    & p{
      font-family: "Didact Gothic", sans-serif;
      font-weight: 400;
      font-style: normal;
      display: flex;
      justify-content: center;
      margin: auto;
    }
  
    & img{
      width: 1.5rem;
      height: 1.5rem;
    }
  
    & span{
      display: flex;
      gap:0;
      justify-content: center;
      text-align: center;
      margin: auto;
    }

    &.phone_img{
      width: 2rem;
      height: 2rem;
    }

    & h1{
      font-family: "Permanent Marker", cursive;
      font-weight: 400;
      font-style: normal;
      color:var(--text-color);
    }
    & a{
      color:var(--a-text-color);
    text-decoration: none;
    font-size: 1.7rem;
    gap: 2rem;
    margin: auto;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem 1rem 0.5rem 1rem;


    &:hover{
      background-color: #eeecec;
      border-radius: 20px;
      transition: all 0.3s;
      }
    }
  }

    .logo_img{
      width: 4rem;
      height: 6rem;
      gap: 0;
      margin-left: 0;
    }
  /* div p{
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    margin: auto;

  }

  div p img{
    width: 1.5rem;
    height: 1.5rem;
  } */

  .bin{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 30px;
    background-color:eaeaeaf2;
    outline: 1px #fff;
    border: 1px solid #0000;
    border-radius: 1.25rem 1.25rem 1.5rem 1.25rem;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 1.5rem;
    translate: 1rem;
    transition: background 0.33s;
    outline-offset: 1px;
    position: relative;

    &:hover{
      background-color: #d3d3d3f2;
      transition: all 0.5s;
    }
  }
/* 
  div span{
    display: flex;
    gap:0;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  div .logo_img{
    width: 4rem;
    height: 6rem;
    gap: 0;
    margin-left: 0;
  }
  .phone_img{
      width: 2rem;
      height: 2rem;
  }

  div h1{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color:var(--text-color);
  }
  div a{
    color:var(--a-text-color);
    text-decoration: none;
    font-size: 1.7rem;
    gap: 2rem;
    margin: auto;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem 1rem 0.5rem 1rem;


    &:hover{
      background-color: #ddd;
      border-radius: 20px;
      transition: all 0.3s;
    } */
  }


.rolls_div, .sushi_div{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 80%;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.sets_div, .drinks_div{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
}



.rd, .sd, .std, .drd {
  --bg: #fff;
  --title-color: #fff;
  --title-color-hover: #000;
  --text-color: #666;
  --button-color: #b8fbc6;
  --button-color-hover: #aff5bf;
  background: var(--bg);
  border-radius: 2rem;
  padding: 0.5rem;
  width: 20rem;
  /*   aspect-ratio: 2 / 3; */
  height: auto;
  overflow: clip;
  position: relative;
  font-family: Lato, Montserrat, Helvetica, Arial, sans-serif;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% - 1rem);
    height: 30%;
    bottom: 0.5rem;
    left: 0.5rem;
    mask: linear-gradient(#0000, #000f 80%);
    /* backdrop-filter: blur(1rem); */
    border-radius: 0 0 1.5rem 1.5rem;
    
  }

  > img {
    max-width: 100%;
    aspect-ratio: 4.5 / 5;
    object-fit: cover;
    object-position: 50% 5%;
    border-radius: 1.5rem;
    display: block;
    transition: aspect-ratio 0.25s, object-position 0.5s;
    /* firefox patch */
    width: 100%;
    height: auto;
  }

  > section {
    margin: 1rem;
    height: calc(33.3333% - 1rem);
    display: flex;
    flex-direction: column;

    .weight {
      color: #f6822a;
    }

    .price {
      font-size: 2rem;
    }
    .grn {
      color: #666;
    }

    h2 {
      margin: 0;
      margin-block-end: 1rem;
      font-size: 1.5rem;
      opacity: 0;
      /* translate: 0 -200%; */
      opacity:1;
      color: var(--title-color);
      transition: color 0.5s, margin-block-end 0.25s, opacity 1s;/* translate 0.25s; */
      text-decoration: none;
    }

    p {
      font-size: 0.95rem;
      line-height: 1.3;
      color: var(--text-color);
      opacity: 0;
      margin: 0;
      transition: margin-block-end 0.25s, opacity 1s 0.2s;
    }

    > div {
      flex: 1;
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      opacity: 0;
      transition: opacity 1s;

      .tag {
        align-self: center;
        color: var(--title-color-hover);
      }

      .button {
        border: 1px solid #0000;
        border-radius: 1.25rem 1.25rem 1.5rem 1.25rem;
        font-size: 1rem;
        padding: 1rem 2rem 1rem 1.5rem;
        translate: 1rem;
        background: var(--button-color);
        transition: background 0.33s;
        outline-offset: 1px;
        position: relative;
        color: var(--title-color-hover);
        /* specific to demo */
        width: auto;
        text-align: right;

        &::before,
        &::after {
          content: "";
          width: 0.85rem;
          height: 0.1rem;
          background: currentcolor;
          position: absolute;
          top: 50%;
          left: 1.33rem;
          border-radius: 1rem;
        }

        &::after {
          rotate: 90deg;
          transition: rotate 0.15s;
        }

        &.following {
          &::after {
            rotate: 0deg;
          }
        }

        &:hover {
          background: var(--button-color-hover);
        }

        &:focus {
          outline: 2px solid #73c986;
        }
      }
    }
  }

  &:hover, &:focus-within {
    &::before {
      translate: 0 100%;
    }


    > img {
      aspect-ratio: 1 / 1;
      object-position: 50% 10%;
      transition: aspect-ratio 0.25s, object-position 0.25s;
    }

    > section {
      h2, p {
        translate: 0 0;
        margin-block-end: 0.5rem;
        opacity: 1;
      }

      h2 {
        color: var(--title-color-hover);
      }

      > div {
        translate: 0 0;
        opacity: 1;
        transition: translate 0.25s 0.25s, opacity 0.5s 0.25s;
      }

    }
  }
}
